body {
    margin: 0;
}

.NavBarContainer {
    position: relative;
    top: 0%;
    height: 100px;
    width: 100%;
    overflow: auto;
    background-color: blue;
    /* padding-right: 10px; */
}

.Logo {
    position: absolute;
    height: 100%;
    width: 150px;
}

/* Placeholder CSS for Placeholder Text */
.LogoPlaceholderText {
    position: absolute;
    left: 15%;
    bottom: calc((100% - 50px) / 2);
    font-size: 50px;
    user-select: none;
}